# Dependency directories
node_modules/

# test coverage (c8, nyc)
coverage/
.nyc_output/

# npm run junit artifact
test-results.xml

# artifact from testing CI locally
test_results/

# compiled ts
dist/

# compiled WebAssembly
src/ffi/
