Source: bitcoinabc
Section: utils
Priority: optional
Maintainer: Bitcoin ABC Package Maintainers <package-maintainers@bitcoinabc.org>
Uploaders: Jason B. Cox <jasonbcox@bitcoinabc.org>
Build-Depends: cmake (>= 3.16),
 debhelper (>=12.1),
 devscripts,
 git,
 help2man,
 libdb5.3++-dev,
 libevent-dev,
 libjemalloc-dev,
 libminiupnpc-dev,
 libnatpmp-dev,
 libboost-dev,
 libprotobuf-dev,
 libqrencode-dev,
 libssl-dev,
 libsqlite3-dev,
 libzmq3-dev,
 lld,
 ninja-build,
 protobuf-compiler,
 python3.9 | python3 (>= 3.9),
 qttools5-dev,
 qttools5-dev-tools,
 xvfb
Standards-Version: 3.9.2
Homepage: https://bitcoinabc.org/
Vcs-Git: ssh://vcs@reviews.bitcoinabc.org:2221/source/bitcoin-abc.git
Vcs-Browser: https://reviews.bitcoinabc.org/source/bitcoin-abc/

Package: bitcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Bitcoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bitcoin ABC
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, bitcoind, and the CLI tool
 bitcoin-cli to interact with the daemon.

Package: bitcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Bitcoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bitcoin ABC
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Bitcoin-Qt, a GUI for Bitcoin based on Qt.

Package: bitcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Bitcoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bitcoin ABC
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bitcoin-tx, a command-line transaction creation
 tool which can be used without a bitcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.

Package: bitcoin-wallet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - wallet tool
 Bitcoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Bitcoin ABC
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bitcoin-wallet, an offline tool for creating and
 interacting with Bitcoin ABC wallet files.
