ColumnLimit:          80
IndentWidth:          4
TabWidth:             4
AccessModifierOffset: -4
UseTab:               Never
IndentCaseLabels:     true
NamespaceIndentation: Inner
BreakBeforeBraces:    Attach
ReflowComments:       true
AlignEscapedNewlines: Right
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
FixNamespaceComments: true
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH, BOOST_REVERSE_FOREACH ]
CommentPragmas:  '@DISABLE FORMATING FOR THIS COMMENT@'
KeepEmptyLinesAtTheStartOfBlocks: false
---
Language:             Cpp
Standard:             Cpp11
---
Language:             ObjC
ObjCBlockIndentWidth: 4
