@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url(../public/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url(../public/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: var(--darkblue);
    color: #fff;
}

:root {
    --darkblue: #001137;
    --blue: #0074c2;
    --bluelight: #00abe7;
    --pinkdark: #cd0bc3;
    --pinklight: #ff21d0;
    --almostblack: #050d27;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: var(--bluelight);
}
