@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../public/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url(../public/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url(../public/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #001137;
    color: #fff;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1500px;
    padding: 0 50px;
}

@media (max-width: 920px) {
    .container {
        padding: 0 20px;
    }
}
