@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

/* Hide scrollbars but keep functionality*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide up and down arros on input type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide up and down arros on input type="number" */
/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Hide scroll bars on antd modals*/
.ant-modal-wrap.ant-modal-centered::-webkit-scrollbar {
    display: none;
}

/* ITEMS BELOW TO BE MOVED TO STYLED COMPONENTS*/

/* useWallet.js, useBCH.js */
@media (max-width: 768px) {
    .ant-notification {
        width: 100%;
        top: 20px !important;
        max-width: unset;
        margin-right: 0;
    }
}
