Language:             Cpp
Standard:             Cpp11
ColumnLimit:          80
IndentWidth:          4
TabWidth:             4
AccessModifierOffset: -4
UseTab:               Never
IndentCaseLabels:     true
NamespaceIndentation: Inner
BreakBeforeBraces:    Attach
ReflowComments:       true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
CommentPragmas:  '@DISABLE FORMATING FOR THIS COMMENT@'
