Checks: '
-*,
boost-use-to-string,
readability-braces-around-statements,
bugprone-argument-comment,
performance-move-const-arg,
performance-no-automatic-move,
'
FormatStyle: file
CheckOptions:
 - key: performance-move-const-arg.CheckTriviallyCopyableMove
   value: false
