Language:        Cpp
Standard:        Cpp11
ColumnLimit:     80
IndentWidth:     4
TabWidth:        4
UseTab:          Never
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: Inner
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH, BOOST_REVERSE_FOREACH ]
CommentPragmas:  '@DISABLE FORMATING FOR THIS COMMENT@'
