[Unit]
Description=Bitcoin's distributed currency daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin

Type=forking
PIDFile=/var/lib/bitcoinabc/bitcoinabc.pid
ExecStart=/usr/bin/bitcoinabc -daemon -pid=/var/lib/bitcoinabc/bitcoinabc.pid \
-conf=/etc/bitcoinabc/bitcoinabc.conf -datadir=/var/lib/bitcoinabc -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
